.DongjinKim_logo {
    font-family: 'Lobster', cursive;
}

.DongjinKim_footer_button{
    font-size: .6rem;
}

.DongjinKim_footer{
    text-align: center;
    margin-top: 2rem;
}

.DongjinKim_header{
    text-align: center;
    margin: 2rem 0;
}
